h1 {
    font : 2em "typewriter", monospace;
    align-self : end;
    margin-left: 145px;
  }
  
  .form1 {
    width: 400px;
    background: #2cadad;
    padding: 30px;
    margin: auto;
    margin-left: 20px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  
  .form1 h4 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  
  .entradas {
    width: 100%;
    padding: 3px;
    border-radius: 4px;
    margin-bottom: 10px;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  

  .boton1 {
    width: 100%;
    background: #1f53c5;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-size: 20px;
  }